{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "ramda",
    "syntax-async-functions",
    "transform-object-rest-spread",
    "transform-react-remove-prop-types",
    ["transform-runtime", {"polyfill": false}]
  ]
}
