{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "ramda",
    "syntax-async-functions",
    "transform-object-rest-spread",
    "transform-react-remove-prop-types",
    ["transform-runtime", {"polyfill": false}],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "^@awc$": "./src/components/index.js",
        "^@awc/(.+)": "./src/components/\\1",
        "^@globals$": "./src/globals.js",
        "^@stories": "./.stories/index.js",
        "^@stories/(.+)$": "./stories/\\1",
        "^@theme$": "./src/theme.js"
      },
      "extensions": [".js"]
    }]
  ]
}
