.passwordHelpForm {
  background: #ebebeb;
  min-width: 325px;
  max-width: 325px;
  margin: 0 auto;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 3px #cacaca;
          box-shadow: 2px 2px 3px #cacaca;
  padding-bottom: 10px
}
.passwordHelpForm > * {
  margin: 5px 15px;
}
.passwordHelpForm .passwordHelpButton, .passwordHelpForm .cancelButton {
  background-color: #E10600;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding: 18px 0;
  text-align: center;
  text-decoration: none;
}
.passwordHelpForm .attainiaLogo {
  margin: 30px auto 15px auto;
}
@supports not (display: grid) {
    .attainiaLogo, .passwordHelpButton, .email, .cancelButton {
        max-width: 50em;
        margin: 0 auto;
    }
}
@supports (display: grid) {
    @media screen and (min-width: 992px) {
        .passwordHelpForm {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
              "header header"
              "instructions instructions"
              "email email"
              "submit cancel"
        }
        .passwordHelpForm .attainiaLogo {
      grid-area: header;
    }
        .passwordHelpForm .email {
      grid-area: email;
    }
        .passwordHelpForm .passwordHelpButton {
      grid-area: submit;
    }
        .passwordHelpForm .cancelButton {
      grid-area: cancel;
    }
    }
}
