.registrationForm {
  background: #ebebeb;
  min-width: 325px;
  max-width: 325px;
  margin: 0 auto;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 3px #cacaca;
          box-shadow: 2px 2px 3px #cacaca;
  padding-bottom: 10px
}
.registrationForm > * {
  margin: 5px 15px;
}
.registrationForm .instructions {
  text-align: center;
}
.registrationForm .registrationButton, .registrationForm .cancelButton {
  background-color: #E10600;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding: 18px 0;
  text-align: center;
  text-decoration: none;
}
.registrationForm .attainiaLogo {
  margin: 30px auto 15px auto;
}
@supports not (display: grid) {
    .registrationButton, .attainiaLogo, .instructions, .name, .password, .email, .cancelButton {
        max-width: 50em;
        margin: 0 auto;
    }
}
@supports (display: grid) {
    @media screen and (min-width: 992px) {
        .registrationForm {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
              "header header"
              "instructions instructions"
              "name name"
              "email email"
              "password password"
              "save cancel"
        }
        .registrationForm .attainiaLogo {
      grid-area: header;
    }
        .registrationForm .instructions {
      grid-area: instructions;
    }
        .registrationForm .name {
      grid-area: name;
    }
        .registrationForm .password {
      grid-area: password;
    }
        .registrationForm .email {
      grid-area: email;
    }
        .registrationForm .registrationButton {
      grid-area: save;
    }
        .registrationForm .cancelButton {
      grid-area: cancel;
    }
    }
}
