:root {
    --rosso-corsa: #E10600;
    --blue: #1F74B2;
    --isabelline-gray: #ebebeb;
    --pastel-gray: #cacaca;
    --jet: #333333;
    --spanish-gray: #9b9b9b;
    --outer-space: #464646;
    --light-coral: #F0887D;
}
