@import '../css/buttons.css';
@import '../css/colors.css';
@import '../css/forms.css';
@import '../css/links.css';
@import '../css/variables.css';

.loginForm {
    @apply --basic-form;

    & > * {
        @apply --form-item-margin;
    }

    & a.link,
    & a.link:visited,
    & a.link:active {
        @apply --link;
    }

    & .passwordHelp {
        text-align: right;
    }

    & .loginButton {
        @apply --btn
    }

    & .register, & .loginButton {
        text-align: center;
    }

    & .attainiaLogo {
        margin: 30px auto 15px auto;
    }
}

@supports not (display: grid) {
    .attainiaLogo, .email, .password, .register, .rememberMe, .passwordHelp, .loginButton {
        max-width: 50em;
        margin: 0 auto;
    }
}

@supports (display: grid) {
    @media (--desktop) {
        .loginForm {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
              "header-logo header-logo"
              "email email"
              "password password"
              "remember-me password-help"
              "login-button login-button"
              "register register";

            & .attainiaLogo {
                grid-area: header-logo;
            }

            & .email {
                grid-area: email;
            }

            & .password {
                grid-area: password;
            }

            & .rememberMe {
                grid-area: remember-me;
            }

            & .passwordHelp {
                grid-area: password-help;
            }

            & .loginButton {
                grid-area: login-button;
            }

            & .register {
                grid-area: register;
            }
        }
    }
}
