@import '../css/buttons.css';
@import '../css/forms.css';
@import '../css/variables.css';

.passwordHelpForm {
    @apply --basic-form;

    & > * {
        @apply --form-item-margin;
    }

    & .passwordHelpButton {
        @apply --btn;
    }

    & .attainiaLogo {
        margin: 30px auto 15px auto;
    }
}

@supports not (display: grid) {
    .attainiaLogo, .passwordHelpButton, .email {
        max-width: 50em;
        margin: 0 auto;
    }
}

@supports (display: grid) {
    @media (--desktop) {
        .passwordHelpForm {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
              "header header"
              "instructions instructions"
              "email email"
              "submit submit";

            & .attainiaLogo {
                grid-area: header;
            }

            & .email {
                grid-area: email;
            }

            & .passwordHelpButton {
                grid-area: submit;
            }
        }
    }
}
