@import '../css/buttons.css';
@import '../css/forms.css';
@import '../css/variables.css';

.registerApplication {
    @apply --basic-form;

    & > * {
        @apply --form-item-margin;
    }

    & .instructions {
        text-align: center;
    }

    & .registerApplicationButton, & .cancelButton {
        @apply --btn;
    }

    & .attainiaLogo {
        margin: 30px auto 15px auto;
    }
}

@supports not (display: grid) {
    .registerApplicationButton, .redirect, .attainiaLogo, .instructions, .applicationName, .grantType, .cancelButton {
        max-width: 50em;
        margin: 0 auto;
    }
}

@supports (display: grid) {
    @media (--desktop) {
        .registerApplication {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
              "header header"
              "instructions instructions"
              "name name"
              "grant grant"
              "redirect redirect"
              "save cancel";

            & .attainiaLogo {
                grid-area: header;
            }

            & .instructions {
                grid-area: instructions;
            }

            & .redirect {
                grid-area: redirect;
            }

            & .applicationName {
                grid-area: name;
            }

            & .grantType {
                grid-area: grant;
            }

            & .registerApplicationButton {
                grid-area: save;
            }

            & .cancelButton {
                grid-area: cancel;
            }
        }
    }
}
